<h1 align="center">All Articles</h1>

<% @articles.each do |article| %>
 <#div class="row">
  <#div class="col-xs-8 col-xs-offset-2">
   <div class="well well-lg">
    <div class="article-title">
     <%= link_to article.title, article_path(article) %>
    </div>
    <div class="article-body">
     <%= truncate(article.text, length: 100) %>
</div>

<!-- line back to comment edit %> -->
    <div class="article-actions">

      <%= link_to "Comment", article_path(article), class: "btn btn-xs btn-success" %>
   <%= link_to "Edit", edit_article_path(article), class: "btn btn-xs btn-primary" %>

    </div>
   </div>
  </div>
 </div>
<% end %>
